<section class="get-started">
    <div class="container text-center">
        <h2>Get started today</h2>
        <div class="row">
            <div class="col-lg-8 m-auto">
                <p class="lead text-muted mt-2">If you can make a list or send an email, you can use Appton. Lorem ipsum
                    dolor sit amet, consectetur adipisicing.</p>
                <p>want to logout? Logout <a href="/logout">here.</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mx-auto">

            </div>
        </div>
    </div>
</section>