<section class="get-started">
    <div class="container text-center">
        <h2>Get started today</h2>
        <div class="row">
            <div class="col-lg-8 m-auto">
                <p class="lead text-muted mt-2">If you can make a list or send an email, you can use Appton. Lorem ipsum
                    dolor sit amet, consectetur adipisicing.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                {{#if hasErrors}}
                <div class="alert alert-danger">
                    {{# each messages}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                <form action="/signin" method="POST" class="subscription-form mt-5">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</section>